<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>{{book.judul}}</title>
  <meta name="description" content="Free Bootstrap 4 Pingendo Smke template single landing page team">
  <meta name="keywords" content="Pingendo smke free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/colorful.css">
  <!-- Script: Navbar on-top -->
  <script src="/js/navbar-ontop.js"></script>
</head>

<body>
  {{>headerAnggota}}
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/notebook.png" alt="stock image" style="max-width:100%;max-height:100%; display: block; margin: auto; vertical-align: middle">
        </div>
        <div class="col-md-8">
          <hr>
          <h1><b>{{book.judul}}</b></h1>
          <h2>{{book.author}}</h1>
            <h5 class="lead"><b>{{book.genre}}</b></h5>
            <h5 class="lead"><b>{{book.ISBN}}</b></h5>
            <h5 class="lead"><b>Tersisa {{book.stok}} buku</b></h5>
            <h5 class="lead"><b>Rak {{book.lokasi}}</b></h5>
            <div class="blockquote">
              <h5 class="mb-0">Rating : {{rating}}/10</h5>
            </div>
            <div class="form-group">
              {{#if (gz book.stok)}}
              <a class="btn btn-primary m-2 btn-lg py-2 btn-block" href="/buku/{{book._id}}/pinjam"><b>Pinjam</b></a>
              {{else}}
                <a class="btn btn-primary m-2 btn-lg py-2 btn-block" href="#"><b>Semua buku telah dipinjam</b></a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        {{#each_upto reviews 5}}
        <div class="row">
          <div class="col-md-12">
            <h5><b>#{{_idAnggota.nama}}</b></h5>
            <p>{{review}}</p>
            <hr>
          </div>
        </div>
        {{/each_upto}}
      </div>
      <div class="container">
      <form class="row" action="/buku/{{book._id}}/review" method="post">
          <div class="form-group col-md-12">
            <!-- <label for="comment">review:</label> -->
            <h5><b>You</b></h5>
            <label for="comment"><b>Tulis review:</b></label>
            <textarea class="form-control" rows="5"  name="review" id="comment" style="border-color: black;font-size: 12pt;width:100%;" ></textarea>
          </div>
          <button class="btn btn-primary m-2 btn-lg py-2 btn-block" type="submit"><b>Submit Review</b></button>
      </form>
    </div>
    <br><br>
  {{>footer}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="/js/smooth-scroll.js"></script>
</body>

</html>
